<tui-scrollbar>
  <div class="header">
    <h1 class="tui-text_h3">Search parameters</h1>
    <button tuiButton appearance="secondary-destructive" (click)="resetForm()">Reset</button>
  </div>

  <form class="search-form" [formGroup]="form">
    <h3 class="tui-form__header tui-form__header_margin-top_none">Search</h3>
    <div class="tui-form__row">
      <tui-input
        formControlName="search"
        [tuiTextfieldCleaner]="true"
      >
        Occupation, keywords, skills...
      </tui-input>
      <tui-error
        formControlName="search"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <h3 class="tui-form__header">Rate range</h3>
    <tui-input-range
      [min]="1"
      [max]="1000"
      [quantum]="1"
      formControlName="rateRange"
      [tuiTextfieldLabelOutside]="true"
      [pluralize]="pluralize"
    ></tui-input-range>

    <ng-container *ngIf="(profile.selectedUser$ | async) !== null">
      <h3 class="tui-form__header">Network size</h3>
      <input
        tuiSlider
        formControlName="networkSize"
        type="range"
        size="m"
        [min]="1"
        [max]="3"
        [step]="1"
      />
      <div class="ticks-labels">
        <button
          *ngFor="let label of [1, 2, 3]"
          type="button"
          class="tick-label"
          (click)="patchNetworkSizeValue(label)"
        >
          {{ label }}
        </button>
      </div>

      <h3 class="tui-form__header">Relation types</h3>
      <tui-multi-select formControlName="relationTypes">
        Relation type
        <tui-data-list *tuiDataList>
          <button
            *ngFor="let relationType of relations.userFirstLevelRelationTypes$ | async"
            tuiOption
            [value]="relationType"
          >
            {{ relationType | relationType }}
          </button>
        </tui-data-list>
      </tui-multi-select>
    </ng-container>

    <h3 class="tui-form__header">Experience</h3>
    <div class="tui-form__row">
      <tui-input-slider
        formControlName="experience"
        [min]="0"
        [max]="100"
        [segments]="1"
      >
        Years
      </tui-input-slider>
      <tui-error
        formControlName="experience"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>

    <h3 class="tui-form__header">Languages</h3>
    <div class="tui-form__row">
      <tui-multi-select
        formControlName="languages"
        [tuiTextfieldLabelOutside]="true"
        [editable]="false"
      >
        Choose languages
        <tui-data-list-wrapper
          *tuiDataList
          tuiMultiSelectGroup
          [items]="languagesNames"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </div>

    <h3 class="tui-form__header">Work place</h3>
    <div
      tuiGroup
      class="tui-form__row"
      [adaptive]="true"
      [collapsed]="true"
    >
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Onsite"
        size="l"
      >
        {{WorkType.Onsite}}
      </tui-radio-block>
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Remote"
        size="l"
      >
        {{WorkType.Remote}}
      </tui-radio-block>
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Hybrid"
        size="l"
      >
        {{WorkType.Hybrid}}
      </tui-radio-block>
    </div>
  </form>
</tui-scrollbar>
