<div class="header tui-space_bottom-2">
  <span class="tui-text_h5">Search</span>
  <button
    tuiButton
    appearance="secondary-destructive"
    size="m"
    (click)="resetForm()"
  >
    Reset
  </button>
</div>

<form
  class="search-form"
  tuiTextfieldSize="m"
  [formGroup]="form"
>
  <div class="tui-form__row">
    <tui-input
      formControlName="search"
      [tuiTextfieldCleaner]="true"
    >
      Occupation, keywords, skills...
    </tui-input>
    <tui-error
      formControlName="search"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>

  <div class="tui-form__row">
    <p class="search-form__field-label tui-space_bottom-2">Rate range</p>
    <tui-input-range
      [min]="1"
      [max]="1000"
      [quantum]="1"
      formControlName="rateRange"
      [tuiTextfieldLabelOutside]="true"
      [pluralize]="pluralize"
    ></tui-input-range>
  </div>

  <ng-container *ngIf="(profile.selectedUser$ | async) !== null">
    <div class="tui-form__row">
      <p class="search-form__field-label tui-space_bottom-2">Network size</p>
      <input
        tuiSlider
        formControlName="networkSize"
        type="range"
        size="m"
        [min]="1"
        [max]="3"
        [step]="1"
      />
      <div class="ticks-labels">
        <button
          *ngFor="let label of [1, 2, 3]"
          type="button"
          class="tick-label"
          (click)="patchNetworkSizeValue(label)"
        >
          {{ label }}
        </button>
      </div>
    </div>

    <div class="tui-form__row">
      <p class="search-form__field-label tui-space_bottom-2">Relation types</p>
      <tui-multi-select
        formControlName="relationTypes"
        [valueContent]="relationTypeSelectedItems"
      >
        Relation type
        <tui-data-list-wrapper
          *tuiDataList
          [items]="relations.userFirstLevelRelationTypes$ | async"
          [itemContent]="relationTypeSelectItem"
        ></tui-data-list-wrapper>
      </tui-multi-select>
    </div>
  </ng-container>

  <div class="tui-form__row">
    <p class="search-form__field-label tui-space_bottom-2">Experience</p>
    <tui-input-slider
      formControlName="experience"
      [min]="0"
      [max]="11"
      [segments]="1"
    >
      Years
    </tui-input-slider>
    <tui-error
      formControlName="experience"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </div>

  <div class="tui-form__row">
    <p class="search-form__field-label tui-space_bottom-2">Languages</p>
    <tui-multi-select
      formControlName="languages"
      [tuiTextfieldLabelOutside]="true"
      [editable]="false"
    >
      Choose languages
      <tui-data-list-wrapper
        *tuiDataList
        tuiMultiSelectGroup
        [items]="languagesNames"
      ></tui-data-list-wrapper>
    </tui-multi-select>
  </div>

  <div class="tui-form__row">
    <p class="search-form__field-label tui-space_bottom-2">Work place</p>
    <div
      tuiGroup
      size="m"
      [adaptive]="true"
      [collapsed]="true"
    >
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Onsite"
        size="m"
      >
        {{WorkType.Onsite}}
      </tui-radio-block>
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Remote"
        size="m"
      >
        {{WorkType.Remote}}
      </tui-radio-block>
      <tui-radio-block
        contentAlign="right"
        formControlName="workType"
        [item]="WorkType.Hybrid"
        size="m"
      >
        {{WorkType.Hybrid}}
      </tui-radio-block>
    </div>
  </div>
</form>


<ng-template #relationTypeSelectedItems let-items>
  <span class="selected-relation" *ngFor="let item of items">
    {{ item | relationType }},
  </span>
</ng-template>

<ng-template #relationTypeSelectItem let-item>
  {{ item | relationType }}
</ng-template>
