<tui-island
  size="l"
  textAlign="center"
  *ngIf="(profileUser$ | async) as user"
>
  <div class="tui-island__content">
    <gh-profile-info
      [avatarSrc]="user.avatarSrc"
      [name]="user | fullName"
      [hourlyRate]="user.hourlyRate"
      [email]="user.email"
      [hourlyRateFormControl]="$any(form).controls['hourlyRate']"
      [nameFormControl]="$any(form).controls['firstName']"
      [emailFormControl]="$any(form).controls['email']"
      [editable]="!_disabled"
      (infoChange)="onProfileInfoChange($event)"
      (avatarChange)="onAvatarChange($event)"
    ></gh-profile-info>

    <ng-container *ngIf="user.about">
      <p class="tui-text_body-xl tui-space_bottom-2 tui-space_top-4">About me</p>
      <ng-container *ngIf="!_disabled; else nonEditableAbout">
        <form
          [formGroup]="form"
          class="user-info__about"
        >
          <tui-text-area
            formControlName="about"
          ></tui-text-area>
        </form>
      </ng-container>
    </ng-container>
  </div>
</tui-island>

<form
  [formGroup]="form"
  class="search-form"
  tuiTextfieldSize="m"
>
  <p class="search-form__field-label">Keywords</p>
  <tui-input-tag
    class="b-form"
    [tuiTextfieldLabelOutside]="true"
    formControlName="keywords"
  >
    Keywords
  </tui-input-tag>

  <p class="search-form__field-label">Phone</p>
  <tui-input-phone formControlName="phone">
    Phone number
    <input
      tuiTextfield
      autocomplete="tel"
    />
  </tui-input-phone>

  <p class="search-form__field-label">Experience</p>
  <tui-input-slider
    formControlName="experience"
    [min]="0"
    [max]="100"
    [segments]="1"
  >
    Years
  </tui-input-slider>

  <p class="search-form__field-label">Languages</p>
  <tui-multi-select
    formControlName="languages"
    [tuiTextfieldLabelOutside]="true"
    [editable]="false"
  >
    Languages
    <tui-data-list-wrapper
      *tuiDataList
      tuiMultiSelectGroup
      [items]="languagesNames"
    ></tui-data-list-wrapper>
  </tui-multi-select>

  <p class="search-form__field-label">Work place</p>
  <div
    tuiGroup
    class="tui-form__row"
    size="m"
    [adaptive]="true"
    [collapsed]="true"
  >
    <tui-radio-block
      contentAlign="right"
      formControlName="workType"
      [item]="WorkType.Onsite"
      size="m"
    >
      {{WorkType.Onsite}}
    </tui-radio-block>
    <tui-radio-block
      contentAlign="right"
      formControlName="workType"
      [item]="WorkType.Remote"
      size="m"
    >
      {{WorkType.Remote}}
    </tui-radio-block>
    <tui-radio-block
      contentAlign="right"
      formControlName="workType"
      [item]="WorkType.Hybrid"
      size="m"
    >
      {{WorkType.Hybrid}}
    </tui-radio-block>
  </div>
</form>

<ng-template #nonEditableAbout>
  <ng-container *tuiLet="(profileUser$ | async) as user">
    <p class="user-info__about-value">{{user?.about}}</p>
  </ng-container>
</ng-template>
